h1 {
    color: blue;
}

p {
    font-size: 18px;
}

.success {
    color: green;
}

.danger {
    color: red;
}

#author-signature {
    color: orange;
    font-style: italic;
    font-size: 50px;
}

#author-signature:hover {
    color: purple;
}