h1 {
    color: white;
    background-color: green;
}

.success {
    color: black;
    font-size: 20px;
}

.in-progress {
    color: black;
    font-size: 20px;
}

#author-signature {
    color: blue;
    font-style: italic;
    font-size: 5px;
}

#author-signature:hover {
    color: lightblue;
}

input[type='text'] {
    padding: 10px;
}

input:focus

.container {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
}